#test {
  display: inline-block;
}

li {
  display: inline;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: -20px;
}
button {
  width: 300px;
  height: 50px;
  background-color: #F3B675;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-size: 20px;

}
.trial {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px
}

p.trial {
  text-align: center;
  margin-top: 10px;
  padding-bottom: 20px;
}

.top-half {
  background-image: url("../img/beardwedding.jpg");
  background-size: 100%;
  color: white;
}

.bottom-half{
  font-family: 'Lora', serif;
  color: grey;
  }

.heading {
  padding: 11%;
}

h1 {
  font-size: 80px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin-top: -40px;
  letter-spacing: 10px;
}
h2 {
  text-align: center;
  font-size: 45px;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  color: white;
  border-bottom: white 1px solid;
  top: 50%;
  bottom: 0;
}

.icon-style {
  display: table-cell;
  width: 33%;
  padding: 3%;
  text-align: center;
}
.make-a-circle {

  display: table-cell;
  text-align: center;

  vertical-align: middle;
  width: 80px;
  height: 80px;
  border: 1px solid black;
  border-radius: 50%;


}
